.img-circle {
    border-radius: 35%;
}

.label.subtitulo {
    text-align:center;
    font-size: 16px;
    font-weight: bold;
}
.subtitulo {
    text-align:center;
    font-size: 16px;
    font-weight: bold;
}
.subLeft {
text-align:left ;
    font-size: 16px;
    font-weight: bold;
}
.celdaDiv{ border-left: 2px solid rgba(0,0,0,.1); }

.conborde{
   border: 2px solid #dadada;
   box-shadow: 0 0 10px #dadada;
   color: #232323;
}
.subTotCol{
    font-style: italic;
    font-size: 10px;
    text-align:left ;
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.subTotColArea{
    font-style: italic;
    font-size: 10px;
    text-align:left ;
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,.1);    
}
.subTotRow{
    font-style: italic;
    font-size: 11px;
    text-align:right ;
    font-weight: bold;    
}

div .columnaFija{ 
    font-size: 11.5px;
    text-align:right ;
    font-weight: bold;
    width: 120px;
}

.subTotRow11{
    font-style: italic;
    font-size: 12px;
    text-align:right ;
    font-weight: bold;
}

.subTotRowAM{
    font-style: italic;
    font-size: 12px;
    text-align:right ;
    font-weight: bold;
    color: #000062;
}
.subTotRowCA{
    font-style: italic;
    font-size: 12px;
    text-align:right ;
    font-weight: bold;
    color:#663300;
}
.cnCA{    
    font-weight: bold;
    color:#663300;
}
.cnAM{    
    font-weight: bold;
    color: #000062;
}
.subTotRowSinNeg{
    font-style: italic;
    font-size: 10px;
    text-align:right ;
    font-weight:normal;    
}

.topLine   { border-top    : 3px solid #CB0B0B; }
.bottomLine{ border-bottom : 3px solid #CB0B0B; }

.apv{    
    border-bottom: 3px solid #CB0B0B;    
    font-weight: bold;
}

.apvSinNegrita{ border-bottom: 3px solid #CB0B0B;  }
.apvThinSinNegrita{ border-bottom: 1px solid #CB0B0B;  }

.apvTop{
    border-top   : 3px solid #CB0B0B;
    border-bottom: 3px solid #CB0B0B;    
    font-weight: bold;
}

.apBottom{   
    border-bottom: 3px solid #CB0B0B;    
    font-weight: bold;
}

hr {
  color: #CB0B0B;
background-color: #CB0B0B;
height: 15px;
}

.tblCA{    
    border: 3px solid #CB0B0B;        
}

.tblCA_int{    
    border-bottom: 1px solid #CB0B0B;
}

.rightCell{
    text-align:right ;
}
.centerCell{
    text-align:center ;
}

.titArea{
    text-align:center ;
    font-weight: bold;
}
.texttArea{
text-align:center ;    
font-style: italic;
}
.leftCell{
    text-align:left ;
}

.negrita { 
    font-weight: bold;
}
.erStyle {
    text-align:right;
    font-size: 14px;
    font-weight: bold;
}

.rightRC {
    text-align:right;
    vertical-align: middle;
    font-size: 12px;
}

.weightInput  {
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 40%;
	height: 19px;
	padding: 6px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
        border-color:#e5e5e5;
	border-radius: 0;
	background: #fff;
	font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;	
        -webkit-transition:border-color 0.3s; 
}
.weightPor{
    font-style: italic;
    font-size: 10px;    
}
.adprice{

    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-style: italic;
}

.borderRight{
    border-right: 1px solid rgba(0,0,0,.1);    
}
.borderLeft{
    border-left: 1px solid rgba(0,0,0,.1);    
}

.cn{    
    font-weight: bold;   
}

.lineca{    
         border-bottom: 1px #e5e5e5;   
       }

.linead{    
         border-bottom: 1px solid rgba(0,0,0,.1);   
       }

.verde{
   background-color: green;
   text-align:center;
    color: white;
}

.amarillo{
   background-color: yellow;
   text-align:center;
}

.rojo{
   background-color: red;
   color: white;
   text-align:center;
}

.tableGrid{
   border: 1;
}


.label.txt{
    text-align:center;
    font-size: 16px;    
}
.label.subtituloLeft{
    text-align:left ;
    font-size: 16px;
    font-weight: bold;
}

.msjconfirm
{
    float        : right; 
    padding-top  : 30px;
    padding-right: 10px;
    color        : #CB0B0B;
}

.msjErr
{
    float        : right; 
    padding-top  : 30px;
    padding-right: 10px;
    color        : red;
}
.msjOk
{
    float        : right; 
    padding-top  : 30px;
    padding-right: 10px;    
    color        : green;
}

.msjErrCentro
{ 
    padding-top  : 30px;
    padding-right: 10px;
    color        : red;
}
.msjOkCentro
{ 
    padding-top  : 30px;
    padding-right: 10px;    
    color        : green;
}

.body-hermesForm {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.hermesForm {
    margin: 0;
    outline: none;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    color: #666;
    display: block;
    margin-top: 0em;
}

.hermesForm header {
	display: block;
	padding: 20px 30px;	
	border-bottom: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
}
.hermesForm fieldset {
	display: block;	
	padding: 25px 30px 5px;
	border: none;
	background: rgba(255,255,255,.9);
}
.hermesForm fieldset + fieldset {
	border-top: 1px solid rgba(0,0,0,.1);
}
.hermesForm section {
	margin-bottom: 20px;
}
.hermesForm footer {
	display: block;
	padding: 15px 30px 25px;
	border-top: 1px solid rgba(0,0,0,.1);
	background: rgba(248,248,248,.9);
}
.hermesForm footer:after {
	content: '';
	display: table;
	clear: both;
}
/*
.hermesForm a {
	color: #2da5da;
}*/
.hermesForm .label {
	display: block;
	margin-bottom: 6px;
	line-height: 19px;
	font-weight: 400;
}
.hermesForm .label.col {
	margin: 0;
	padding-top: 10px;
}
.hermesForm .note {
	margin-top: 6px;
	padding: 0 1px;
	font-size: 11px;
	line-height: 15px;
	color: #999;
}
.hermesForm .input,
.hermesForm .select,
.hermesForm .textarea,
.hermesForm .radio,
.hermesForm .checkbox,
.hermesForm .toggle,
.hermesForm .button {
	position: relative;
	display: block;
}
.hermesForm .input input,
.hermesForm .select select,
.hermesForm .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 39px;
	padding: 6px 10px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	background: #fff;
	font: 15px/23px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #404040;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.hermesForm .progress {
	float: right;
	margin-top: 10px;
	line-height: 39px;
	color: #232323;
}
.hermesForm button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/**/
/* captcha inputs */
/**/
.hermesForm .input-captcha img {
	position: absolute;
	top: 2px;
	right: 2px;
	border-left: 1px solid #e5e5e5;
}

/**/
/* selects */
/**/
.hermesForm .select i {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 28px;
	height: 35px;
	background: #fff;
	pointer-events: none;
}
.hermesForm .select i:after,
.hermesForm .select i:before {
	content: '';
	position: absolute;
	right: 10px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.hermesForm .select i:after {
	bottom: 12px;
	border-top: 4px solid #404040;
}
.hermesForm .select i:before {
	top: 12px;
	border-bottom: 4px solid #404040;
}
.hermesForm .select select {
	padding-right: 28px;
}
.hermesForm .select-multiple select {
	height: auto;
}


/**/
/* textareas */
/**/
.hermesForm .textarea textarea {
	height: auto;
	resize: none;
}
.hermesForm .textarea-resizable textarea {
	resize: vertical;	
}
.hermesForm .textarea-expandable textarea {
	height: 39px;
}
.hermesForm .textarea-expandable textarea:focus {
	height: auto;
}


/**/
/* radios and checkboxes */
/**/
.hermesForm .radio,
.hermesForm .checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
	cursor: pointer;
}

.hermesForm .checkbox ol,.hermesForm .checkbox ul{
    padding: 33px;
	
}
.hermesForm .radio:last-child,
.hermesForm .checkbox:last-child {
	margin-bottom: 0;
}
.hermesForm .radio input,
.hermesForm .checkbox input {
	position: absolute;
	left: -9999px;
}
.hermesForm .radio i,
.hermesForm .checkbox i {
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 13px;
	height: 13px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	background: #fff;
}
.hermesForm .radio i {
	border-radius: 50%;
}
.hermesForm .radio input + i:after,
.hermesForm .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.hermesForm .radio input + i:after {
	content: '';
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.hermesForm .checkbox input + i:after {
	content: '\f00c';
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.hermesForm .radio input:checked + i:after,
.hermesForm .checkbox input:checked + i:after {
	opacity: 1;
}
.hermesForm .inline-group {
	margin: 0 -30px -4px 0;
}
.hermesForm .inline-group:after {
	content: '';
	display: table;
	clear: both;
}
.hermesForm .inline-group .radio,
.hermesForm .inline-group .checkbox {
	float: left;
	margin-right: 30px;
}
.hermesForm .inline-group .radio:last-child,
.hermesForm .inline-group .checkbox:last-child {
	margin-bottom: 4px;
}

/**/
/* buttons */
/**/
.hermesForm .button {
	float: right;
	height: 39px;
	overflow: hidden;
	margin: 10px 0 0 20px;
	padding: 0 25px;
	outline: none;
	border: 0;
	font: 300 15px/39px 'Open Sans', Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

@-o-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-ms-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-moz-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}
@-webkit-keyframes blink
{
  0% {opacity: 1}
  50% {opacity: 0.3}
  100% {opacity: 1}
}


/**/
/* icons */
/**/
.hermesForm .icon-append,
.hermesForm .icon-prepend {
	position: absolute;
	top: 5px;
	width: 29px;
	height: 29px;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
}
.hermesForm .icon-append {
	right: 5px;
	padding-left: 3px;
	border-left-width: 1px;
	border-left-style: solid;
}
.hermesForm .icon-prepend {
	left: 5px;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-style: solid;
}
.hermesForm .input .icon-prepend + input,
.hermesForm .textarea .icon-prepend + textarea {
	padding-left: 46px;
}
.hermesForm .input .icon-append + input,
.hermesForm .textarea .icon-append + textarea {
	padding-right: 46px;
}
.hermesForm .input .icon-prepend + .icon-append + input,
.hermesForm .textarea .icon-prepend + .icon-append + textarea {
	padding-left: 46px;
}


/**/
/* grid */
/**/
.hermesForm .row {
	margin: 0 -15px;
}
.hermesForm .row:after {
	content: '';
	display: table;
	clear: both;
}
.hermesForm .col {
	float: left;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.hermesForm .col-1 {
	width: 8.33%;
}
.hermesForm .col-2 {
	width: 16.66%;
}
.hermesForm .col-3 {
	width: 25%;
}
.hermesForm .col-4 {
	width: 33.33%;
}
.hermesForm .col-5 {
	width: 41.66%;
}
.hermesForm .col-6 {
	width: 50%;
}
.hermesForm .col-7 {
	width: 58.33%;
}
.hermesForm .col-8 {
	width: 66.67%;
}
.hermesForm .col-9 {
	width: 75%;
}
.hermesForm .col-10 {
	width: 83.33%;
}
.hermesForm .col-11 {
	width: 91.66%;
}
@media screen and (max-width: 600px) {
	.hermesForm .col {
		float: none;
		width: 100%;
	}
}


/**/
/* tooltips */
/**/
.hermesForm .tooltip {
	position: absolute;
	z-index: 1;
	left: -9999px;
	padding: 2px 8px 3px;
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
	background: rgba(0,0,0,0.9);
	color: #fff;
	opacity: 0;
	-ms-transition: margin 0.3s, opacity 0.3s;
	-moz-transition: margin 0.3s, opacity 0.3s;
	-webkit-transition: margin 0.3s, opacity 0.3s;
}
.hermesForm .tooltip:after {
	content: '';
	position: absolute;
}
.hermesForm .input input:focus + .tooltip,
.hermesForm .textarea textarea:focus + .tooltip {
	opacity: 1;	
}

.hermesForm .tooltip-top-right {
	bottom: 100%;
	margin-bottom: 15px;
}
.hermesForm .tooltip-top-right:after {
	top: 100%;
	right: 16px;	
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.hermesForm .input input:focus + .tooltip-top-right,
.hermesForm .textarea textarea:focus + .tooltip-top-right {
	right: 0;
	left: auto;
	margin-bottom: 5px;
}

.hermesForm .tooltip-top-left {
	bottom: 100%;
	margin-bottom: 15px;
}
.hermesForm .tooltip-top-left:after {
	top: 100%;
	left: 16px;
	border-top: 4px solid rgba(0,0,0,0.9);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.hermesForm .input input:focus + .tooltip-top-left,
.hermesForm .textarea textarea:focus + .tooltip-top-left {
	right: auto;
	left: 0;
	margin-bottom: 5px;
}

.hermesForm .tooltip-right {
	top: 9px;
	white-space: nowrap;
	margin-left: 15px;
}
.hermesForm .tooltip-right:after {
	top: 6px;
	right: 100%;
	border-top: 4px solid transparent;
	border-right: 4px solid rgba(0,0,0,0.9);
	border-bottom: 4px solid transparent;
}
.hermesForm .input input:focus + .tooltip-right,
.hermesForm .textarea textarea:focus + .tooltip-right {
	left: 100%;
	margin-left: 5px;
}

.hermesForm .tooltip-left {
	top: 9px;
	white-space: nowrap;
	margin-right: 15px;
}
.hermesForm .tooltip-left:after {
	top: 6px;
	left: 100%;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid rgba(0,0,0,0.9);
}
.hermesForm .input input:focus + .tooltip-left,
.hermesForm .textarea textarea:focus + .tooltip-left {
	right: 100%;
	left: auto;
	margin-right: 5px;
}

.hermesForm .tooltip-bottom-right {
	top: 100%;
	margin-top: 15px;
}
.hermesForm .tooltip-bottom-right:after {
	bottom: 100%;
	right: 16px;	
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
.hermesForm .input input:focus + .tooltip-bottom-right,
.hermesForm .textarea textarea:focus + .tooltip-bottom-right {
	right: 0;
	left: auto;
	margin-top: 5px;
}

.hermesForm .tooltip-bottom-left {
	top: 100%;
	margin-top: 15px;
}
.hermesForm .tooltip-bottom-left:after {
	bottom: 100%;
	left: 16px;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(0,0,0,0.9);
	border-left: 4px solid transparent;
}
.hermesForm .input input:focus + .tooltip-bottom-left,
.hermesForm .textarea textarea:focus + .tooltip-bottom-left {
	right: auto;
	left: 0;
	margin-top: 5px;
}



/**/
/* normal state */
/**/
.hermesForm .input input,
.hermesForm .select select,
.hermesForm .textarea textarea,
.hermesForm .radio i,
.hermesForm .checkbox i,
.hermesForm .toggle i,
.hermesForm .icon-append,
.hermesForm .icon-prepend {
	border-color: #e5e5e5;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}
.hermesForm .toggle i:before {
	background-color: #2da5da;	
}
.hermesForm .rating label {
	color: #ccc;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.hermesForm .button {
	background-color: #CB0B0B;
	opacity: 0.8;
	-ms-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}
.hermesForm .button.button-secondary {
	background-color: #b3b3b3;
}
.hermesForm .icon-append,
.hermesForm .icon-prepend {
	color: #ccc;
}


/**/
/* hover state */
/**/
.hermesForm .input:hover input,
.hermesForm .select:hover select,
.hermesForm .textarea:hover textarea,
.hermesForm .radio:hover i,
.hermesForm .checkbox:hover i,
.hermesForm .toggle:hover i,
.hermesForm .ui-slider-handle:hover {
	border-color: #f5b093;
}
.hermesForm .rating input + label:hover,
.hermesForm .rating input + label:hover ~ label {
	color: #CB0B0B;
}
.hermesForm .button:hover {
	opacity: 1;
}


/**/
/* focus state */
/**/
.hermesForm .input input:focus,
.hermesForm .select select:focus,
.hermesForm .textarea textarea:focus,
.hermesForm .radio input:focus + i,
.hermesForm .checkbox input:focus + i,
.hermesForm .toggle input:focus + i {
	border-color: #CB0B0B;
}


/**/
/* checked state */
/**/
.hermesForm .radio input + i:after {
	background-color: #CB0B0B;	
}
.hermesForm .checkbox input + i:after {
	color: #CB0B0B;
}
.hermesForm .radio input:checked + i,
.hermesForm .checkbox input:checked + i,
.hermesForm .toggle input:checked + i {
	border-color: #CB0B0B;	
}
.hermesForm .rating input:checked ~ label {
	color: #CB0B0B;	
}


/**/
/* error state */
/**/
.hermesForm .state-error input,
.hermesForm .state-error select,
.hermesForm .state-error select + i,
.hermesForm .state-error textarea,
.hermesForm .radio.state-error i,
.hermesForm .checkbox.state-error i,
.hermesForm .toggle.state-error i,
.hermesForm .toggle.state-error input:checked + i {
	background: #fff0f0;
}
.hermesForm .state-error + em {
	display: block;
	margin-top: 6px;
	padding: 0 1px;
	font-style: normal;
	font-size: 11px;
	line-height: 15px;
	color: #ee9393;
}
.hermesForm .rating.state-error + em {
	margin-top: -4px;
	margin-bottom: 4px;
}


/**/
/* success state */
/**/
.hermesForm .state-success input,
.hermesForm .state-success select,
.hermesForm .state-success select + i,
.hermesForm .state-success textarea,
.hermesForm .radio.state-success i,
.hermesForm .checkbox.state-success i,
.hermesForm .toggle.state-success i,
.hermesForm .toggle.state-success input:checked + i {
	background: #f0fff0;
}
.hermesForm .state-success + em {
	display: block;
	margin-top: 6px;
	padding: 0 1px;
	font-style: normal;
	font-size: 11px;
	line-height: 15px;
	color: #ee9393;
}
.hermesForm .note-success {
	color: #6fb679;
}


/**/
/* disabled state */
/**/
.hermesForm .input.state-disabled input,
.hermesForm .select.state-disabled,
.hermesForm .textarea.state-disabled,
.hermesForm .radio.state-disabled,
.hermesForm .checkbox.state-disabled,
.hermesForm .toggle.state-disabled,
.hermesForm .button.state-disabled {
	cursor: default;
	opacity: 0.5;
}
.hermesForm .input.state-disabled:hover input,
.hermesForm .select.state-disabled:hover select,
.hermesForm .textarea.state-disabled:hover textarea,
.hermesForm .radio.state-disabled:hover i,
.hermesForm .checkbox.state-disabled:hover i,
.hermesForm .toggle.state-disabled:hover i {
	border-color: #e5e5e5;
}


/**/
/* submited state */
/**/
.hermesForm .message {
	display: none;
	color: #6fb679;
}
.hermesForm .message i {
	display: block;
	margin: 0 auto 20px;
	width: 81px;
	height: 81px;
	border: 1px solid #6fb679;
	border-radius: 50%;
	font-size: 30px;
	line-height: 81px;
}
.hermesForm.submited fieldset,
.hermesForm.submited footer {
	display: none;
}
.hermesForm.submited .message {
	display: block;
	padding: 25px 30px;
	background: rgba(255,255,255,.9);
	font: 300 18px/27px 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
}


/**/
/* datepicker */
/**/
.ui-datepicker {
	display: none;
	padding: 10px 12px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #666;
}
.ui-datepicker a {
	color: #404040;
}
.ui-datepicker-header {
	position: relative;
	margin: -10px -12px 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 15px;
	line-height: 27px;
}
.ui-datepicker-prev, 
.ui-datepicker-next {
	position: absolute;
	top: 0;
	display: block;
	width: 47px;
	height: 47px;
	font-size: 15px;
	line-height: 47px;
	text-decoration: none;
	cursor: pointer;
}
.ui-datepicker-prev {
	left: 0;
}
.ui-datepicker-next {
	right: 0;
}
.ui-datepicker-calendar {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 27px;
}
.ui-datepicker-calendar th {
	color: #999;
}
.ui-datepicker-calendar a,
.ui-datepicker-calendar span {
	display: block;
	width: 21px;
	margin: auto;
	text-decoration: none;
	color: #404040;
}
.ui-datepicker-calendar a:hover {
	background: rgba(0,0,0,.05);	
}
.ui-datepicker-calendar span {
	color: #bfbfbf;
}
.ui-datepicker-today a {
	font-weight: 700;
}
.ui-datepicker-calendar .ui-state-active {
	background: rgba(0,0,0,.05);
	cursor: default;	
}
.ui-datepicker-inline {
	border: 2px solid #e5e5e5;
	background: #fff;
	box-shadow: none;
}
.ui-datepicker-inline .ui-datepicker-header {
	line-height: 47px;
}
.ui-datepicker-inline .ui-datepicker-calendar {
	width: 100%;
}


/**/
/* slider */
/**/
.hermesForm .ui-slider {
	position: relative;
	height: 3px;
	border: 2px solid #e5e5e5;
	background: #fff;
	margin: 12px 6px 26px;
}
.hermesForm .ui-slider-handle {
	position: absolute;
	width: 15px;
	height: 15px;
	margin: -8px 0 0 -8px;
	border: 2px solid #e5e5e5;
	outline: none;
	background: #fff;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}

/**/
/* bootstrap compatibility */
/**/
.hermesForm *,
.hermesForm *:after,
.hermesForm *:before {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
.hermesForm .label {
	border-radius: 0;
	font-size: 100%;
	text-align: left;
	white-space: normal;
	color: inherit;
}
.hermesForm .radio,
.hermesForm .checkbox {
	font-weight: 400;
}
.hermesForm .radio + .radio,
.hermesForm .checkbox + .checkbox {
  margin-top: 0;
}


