/**/
/* normal state 
narajan #fd7337 JLL: #CB0B0B
/**/
.sky-form .toggle i:before {
	background-color: #CB0B0B;	
}
.sky-form .button {
	background-color: #CB0B0B;
}


/**/
/* hover state */
/**/
.sky-form .input:hover input,
.sky-form .select:hover select,
.sky-form .textarea:hover textarea,
.sky-form .radio:hover i,
.sky-form .checkbox:hover i,
.sky-form .toggle:hover i,
.sky-form .ui-slider-handle:hover {
	border-color: #f5b093;
}
.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
	color: #CB0B0B;
}


/**/
/* focus state */
/**/
.sky-form .input input:focus,
.sky-form .select select:focus,
.sky-form .textarea textarea:focus,
.sky-form .radio input:focus + i,
.sky-form .checkbox input:focus + i,
.sky-form .toggle input:focus + i {
	border-color: #CB0B0B;
}


/**/
/* checked state */
/**/
.sky-form .radio input + i:after {
	background-color: #CB0B0B;	
}
.sky-form .checkbox input + i:after {
	color: #CB0B0B;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #CB0B0B;	
}
.sky-form .rating input:checked ~ label {
	color: #CB0B0B;	
}


/**/
/* TABS */
/**/
.sky-tabs > label:hover span span {
	background: #CB0B0B;
}
.sky-tabs > input:checked + label span span {
	background: #CB0B0B;
}
.sky-tabs > .active span span {
	background: #CB0B0B !important;	
}